name: Selenium Test

on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt  

      - uses: actions/checkout@v3
        if: success() || failure()
      - run: |
           cd chrome
           mkdir -p /home/runner/work/test/test/chrome/reports
           pytest test_1.py --html=reports/reports.html  --cov=chrome
           chmod -R +rw /home/runner/work/test/test/chrome/reports
     

      - name: Upload coverage report
        uses: actions/upload-artifact@v3
        with:
          name: coverage-report
          path: .coverage
      - name: Set output
        if: success() || failure()
        id: results
        run: echo "artifactPath=chrome/reports/" >> $GITHUB_OUTPUT

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        env:
           CODECOV_TOKEN: ${{ secrets.codecoverage }}

      - uses: actions/upload-artifact@v3
        if: success() || failure()
        with:
          name: test-report
          path: ${{ steps.results.outputs.artifactPath }}
